{% extends "base.html" %}

{% block title %} 42-test-oleksandr11 {% endblock title %}
{% block content %}
<h3>42 Coffee Cups Test Assigment</h3>
<table>
  <tr>
    <td>Oleksandr</td>
    <td>Contacts</td>
  </tr>
  <tr>
    <td>Shcherbyna</td>
    <td>sanya071186@gmail.com</td>
  </tr>
  <tr>
    <td>07.11.1986</td>
    <td>pock@jabber.ua<br>sanya071186</td>
  </tr>
  <tr>
    <td>Bio:</td>
    <td>Other Contacts</td>
  </tr>
  <tr>
    <td class ="multiline">My long-long long-long biography</td>
    <td class ="multiline">No other contacts</td>
  </tr>
</table>
<hr>
{% endblock content %}
