{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Requests {% endblock title %}
{% block content %}
  <h4> Request: </h4>
<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>PATH</td>
      <td>GET</td>
      <td>POST</td>
    </tr>
  </thead>
  <tbody>
    {% for req in requests %}
    <tr>
      {% if  req.is_showed %}
      <td>{{ forloop.counter }}</td>
      <td>{{req.path}}</td>
      <td>{{req.get}}</td>
      <td>{{req.post}}</td>
      {% else %}
      <td><b>{{ forloop.counter }}</b></td>
      <td><b>{{req.path}}</b></td>
      <td><b>{{req.get}}</b></td>
      <td><b>{{req.post}}</b></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/request.js' %}"></script>
{% endblock extra_js %}
